.container {
  max-width: 1920px;
  padding: 12px 70px;
  justify-content: space-between;
}

.form-add {
  max-width: 450px;
  min-width: 325px;
  margin-right: 70px;
  flex-grow: 1;
  flex-shrink: 0;
}

.form-add-group {
  margin-bottom: 10px;
}

.form-add__header {
  margin-bottom: 15px;
  line-height: 1;
}

.form-add__label {
  margin-bottom: 5px;
  line-height: 1;
}

.form-add__submit {
  position: relative;
}

.form__notification {
  position: absolute;
  top: -48px;
  left: 0;
  padding: 5px;
  width: 285px;
  height: 36px;
  border: 2px solid #ced4da;
  border-radius: .25rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #212529;
  font-size: 14px;
  transition: opacity .3s;
}

.form__notification--active {
  transform: translateX(110%)
}

.notification__message {
  margin-bottom: 0;
  color: #212529;
  font-size: 14px;
}

.tabel-filter__content {
  justify-content: space-between;
}

.tabel-filter__heading {
  font-size: 18px;
}


/* ---- Tabel --- */
.tabel-wrapper {
  width: 1000px;
}

@media (max-width: 1533px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .form-add-wrapper {
    margin-bottom: 40px;
  }

  .form-add {
    margin-right: 0;
  }

  .tabel-wrapper {
    width: 100%;
  }
}
